@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-color: #EA6D27;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 27px;
  --swiper-pagination-bullet-vertical-gap: 6px;
    }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bob {
  margin-top: -100px;
  margin-left: 170px;
}

.bib {
  color: gray;
  line-height: 2;
  margin-left: 175px;
  margin-bottom: 300px;
}

.gambarBawang{
  margin-top: 100px;
}

.gambarBawangBawang{
  width: 190px;
  height: 200px;
  margin-top: -230px;
  margin-left: 100px;
}

.feature-list li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #4a4a4a;
  margin-top: -190px;
  
  
}

.check-icon {
  font-size: 0.9rem;
  margin-top: -3px;
  margin-left: 14%;

}

.feature-list2 li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #4a4a4a;
  margin-top: -163px;
  
  
}

.check-icon2 {
  font-size: 0.9rem;
  margin-top: -3px;
  margin-left: 35%;

}

.chefnya{
  width: 357px;
  height: 465px;
  margin-left: 800px;
  margin-top: -40%;

}

.buttons2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-top: 3rem;
  width: 100%;
  position: relative;
}

.menu-btn2 {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-left: 285px;
}

.menu-btn2:hover {
  background-color: #333;
}

.book-btn2 {
  background-color: #f97316;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.book-btn2:hover {
  background-color: #e5630e;
}


.tidakkelihatan{
  visibility: hidden;
  margin-bottom: 120px;

}



